Q1. Declare a float value and store it in a variable.
Check the type and print the id of the same.

In [2]:
a=10.5
print(a)
print(type(a))
print(id(a))

10.5
<class 'float'>
1945371062640

Q2. Arithmetic Operations on float.<br>
Take two different float values.<br>
Store them in two different variables.<br>
Do below operations on them:-<br>
 Find sum of both numbers<br>
 Find difference between them<br>
 Find the product of both numbers.<br>
 Find value after dividing first num with second number<br>
 Find the remainder after dividing first number with second number<br>
 Find the quotient after dividing first number with second number<br>
 Find the result of the first num to the power of the second number.<br>

In [4]:
A=8.5
B=5.5
print(A)
print(B)
print(A+B) # sum of numbers
print(A-B) # difference of numbers
print(A*B) # Multiplication of numbers
print(A/B) # Division
print(A%B) # Modulo
print(A//B) # floor Division
print(A**B) # power

8.5
5.5
14.0
3.0
46.75
1.5454545454545454
3.0
1.0
129361.21663374006

Q3. Comparison Operators on float<br>
Take two different float values.<br>
Store them in two different variables.<br>
Do below operations on them:-<br><br>
 Compare these two numbers with below operator:-<br>
 Greater than, '>'<br>
 Smaller than, '<'<br>
 Greater than or equal to, '>='<br>
 Less than or equal to, '<='<br>
Observe their output(return type should be boolean)<br>

In [6]:
C=20.7
D=16.8
print(C)
print(D)
print(C>D) # greater than
print(C<D) # lesser than
print(C>=D) # Greater than eqaul to
print(C<=D) # lesser than equal to

20.7
16.8
True
False
True
False

Q4. Equality Operator<br>
Take two different float values.<br>
Store them in two different variables.<br>
Equate them using equality operators (==, !=)<br>
Observe the output(return type should be boolean)<br>

In [8]:
E=69.46
F=45.78
print(E)
print(F)
print(E==F)
print(E!=F)

69.46
45.78
False
True

Q5. Logical operators<br>
Observe the output of below code<br>
Cross check the output manually<br>
print(10.20 and 20.30) #both are true and second value taken<br>
>Output is 20.3<br>
print(0.0 and 20.30) #First is false so first value<br>
taken->Output is 0.0<br>
print(20.30 and 0.0) #Goes to till second and second value is<br>
false so second is taken>Output is 0.0<br>
print(0.0 and 0.0) #First is false so first value is<br><br>
taken->Output is 0.0<br>
print(10.20 or 20.30) #First is True so first value is<br>
taken>Output is 10.2<br>
print(0.0 or 20.30) #Goes to till second and second is true<br>
second value is taken->Output is 20.3<br>
print(20.30 or 0.0) #First is True so first value is<br>
taken->Output is 20.3<br>
print(0.0 or 0.0) #Goes to till second and second is also<br>
false and second value is taken>Output is 0.0<br>
print(not 10.20) #-Not of true is false->Output is False<br>
print(not 0.0) #Not of false is True>Output is True<br>

In [10]:
print(10.20 and 20.30) 
print(0.0 and 20.30)
print(20.30 and 0.0) 
print(0.0 and 0.0)
print(10.20 or 20.30) 
print(0.0 or 20.30)
print(20.30 or 0.0) 
print(0.0 or 0.0)
print(not 10.20)
print(not 0.0)

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

Q6. What is the output of expression inside print statement. Cross check
before running the program.<br>
a = 10.20<br>
b - 10.20<br>
print(a is b) #True or False? True 10.20<256<br>
print(a is not b) #True or False? False<br>
Why the Id of float values are different when the same value is<br>
assigned to two different variables<br>
ex: a = 10.5 b=10.5. but id will be same if I assign the variable<br>
having float i.e. a=c then both a and c's Id are same<br>

In [12]:
a=10.20
b=10.20
print(a is b)
print(a is not b)
# ans: object reusability concept is not applicable on float numbers

False
True

Q7. Bitwise operation is not applicable between instances of float.<br>
Why the Id of float values are different when the same value is<br>
assigned to two different variables<br>
ex: a = 10.5 b=10.5. but id will be same if I assign the variable<br>
having float i.e. a=c then both a and c's Id are same<br>
Object reusability concept is not applicable on float values<br>

In [14]:
a=10.5
b=10.5
print(a is b)
print(a is not b)

False
True

Q8. Membership operation<br>
in, not in are two membership operators and it returns boolean value<br>
print('2.7' in 'Python2.7.8') #True<br>
print(10.20 in [10,10.20,10+20j,'Python']) #True<br>
print(10.20 in (10,10.20,10+20j,'Python')) # True<br>
print(20.30 in {1,20.30,30+40j}) # True<br>
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True<br>
print(10 in range(20)) # True<br>

In [16]:
print('2.7' in 'Python2.7.8') 
print(10.20 in [10,10.20,10+20j,'Python']) 
print(10.20 in (10,10.20,10+20j,'Python')) 
print(20.30 in {1,20.30,30+40j}) 
print(2.3 in {1:100, 2.3:200, 30+40j:300}) 
print(10 in range(20))

True
True
True
True
True
True